<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/view/}">Agenda Futebol</a>
        
        <div class="navbar-nav ms-auto">
            <!-- Verificação segura de autenticação -->
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span class="navbar-text me-3">
                    Olá, <span th:text="${#authentication.principal.username}">Usuário</span>
                </span>
                <a class="nav-link" th:href="@{/view/perfil}">Perfil</a>
                <a class="nav-link" th:href="@{/view/logout}">Sair</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link" th:href="@{/view/login}">Login</a>
                <a class="nav-link" th:href="@{/view/register}">Registrar</a>
            </div>
        </div>
    </div>
</nav>